.App {
  max-width: 1200px;
  margin: 50px auto;
}

h1 {
  color: green;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.my-app{
  text-align: center;
  display: flex;
  justify-content: space-around;
  
}

.app-item{
  margin: 15px;
  border: 2px solid rgb(54, 201, 21);
  border-radius: 15px;
}

.app-item__part{
margin-right: 10px;
}

.app-item__part:last-child{
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
}

.app-btn__posts:last-child:hover{
  border-color: yellowgreen;
  color: rgb(217, 0, 0);
  font-weight: bold;
}
