*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
  list-style: none;
}

button{
  padding: 10px;
  background: transparent;
  border: 3px solid greenyellow;
  border-radius: 15px;
}